<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pay Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card>

  <ion_item>
    <ion-label class = "label">Enter number of hours worked</ion-label>
    <ion-input class = "input-values" type = "number"  [(ngModel)] ="hoursWorked"> </ion-input>
  </ion_item>

  <ion_item>
    <ion-label class = "label">Enter hourly rate</ion-label>
    <ion-input class = "input-values" type = "number"  [(ngModel)] ="hourlyRate"> </ion-input>
  </ion_item>

<ion-button (click) = "btnClicked()"> Calculate
  <ion-icon slot="start" name="Calculator"></ion-icon>
</ion-button>

  <ion-item>
    <ion-label>Payment to be received: </ion-label>
  </ion-item>

  <ion-item>
    regular pay :: {{pay}}
  </ion-item>
 <ion-item>
 overtime pay:: {{overtimePay}}
 </ion-item>

 <ion-item>
  total pay :: {{totalPay}}
 </ion-item>
<ion-item>
  tax :: {{tax}}
</ion-item>
</ion-card>


</ion-content>
